<!-- <div class="row">
    <div  class="col-xs-5 col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-2">
        <button
        class="btn btn-primary"
        (click)="restartAllDevices()">Restart All Devices</button>
        <button
        class="btn btn-primary"
        (click)="rebootAllDevices()">RE-BOOT All Devices</button>
    </div>
</div> -->
<div class="row">
    
        <div  class="col-xs-5 col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-2" *ngFor="let trs of truckArray; let i = index">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{truckArray[i][0].truckId}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <p *ngFor="let truck of trs" >
                        <a [routerLink]="[truck.truckId, truck.sl]">
                            <!-- (click)="onLoad(load)" -->
                            <button ngbDropdownItem>
                                <ngb-alert type="info" [dismissible]="false" >
                            {{ truck.truckId }}
                                </ngb-alert>
                            <!-- <a href="load">{{ load.truck }}</a> -->
                            <!-- <a ngbNavLink routerLink="load">{{ load.truck }}</a> -->
                        </button>
                        </a>
                    </p>
                </div>
            </div>
            <br><br>
        </div>    
    
    
    <!-- <div class="col-xs-8 col-sm-6 col-md-4 col-sm-offset-1 col-md-offset-2">
        <div class="list-group">
            <p *ngFor="let truck of trucks" >
                <a [routerLink]="[truck.truckId, truck.sl]">
                     (click)="onLoad(load)"
                 <ngb-alert type="info" [dismissible]="false" >
                    {{ truck.truckId }} {{truck.sl}}
                     <a href="load">{{ load.truck }}</a> 
                    <a ngbNavLink routerLink="load">{{ load.truck }}</a>
                </ngb-alert>
                </a>
            </p>
        </div>
    </div> -->
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
    </div>
</div>
    
